service qseecomd /system/bin/qseecomd
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keymaster-4-1-qti /system/bin/keymaster-qti
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    disabled
    oneshot
    seclabel u:r:recovery:s0

service gatekeeper-1-0-qti /system/bin/gatekeeper-qti
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    disabled
    oneshot
    seclabel u:r:recovery:s0
